# box office
PyYAML
docopt
requests
flask
# jenkins
tox
python-jenkins
# robot framework
robotframework
robotframework-mongodblibrary
robotframework-requests
robotframework-selenium2library
robotframework-sudslibrary
selenium
pymongo
uiautomator